<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header align="center"><strong>ZeroDayZ</strong></header>
    
    <div class ="nav-bar">
    <a href = "profile.html">Profile</a>
    <a href = "requests.html">Requests</a>
    </div>
    <div class = "profile-card">
        <h2>swejo...!</h2>
        <div class = "description">
            <p>Description</p>
        </div>
        <div class ="resolved-requests">
            <p>Rejected Requests:12</p>
            <p>Completed Requests:20</p>
            <p>Ongoing Requests:2</p>
        </div>
    </div>

</body>
</html>