<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header align = "center"><strong>ZeroDayZ</strong></header>

    <div class = "nav-bar">
        <a href = "profile.html">Profile</a>
        <a href = "requests.html">Requests</a>
    </div>

    <div class = "uppcoming-requests-card">
        <h2 align = "center">Upcoming Requests</h2>

        <div class = "Location-Card">
            <p>Location: Hostel Block-I, Ground Floor, Room No. 26</p>
        </div>

        <div class = "Description-Card">
            <p>Description: The light in the room is not working. Please fix it.</p>
        
        </div>

        <button class = "accept-button">Accept</button>
        <button class = "reject-button">Reject</button>
    </div>

    <div class = "Resolved-Requests-Card">
        <h2 align = "center">Resolved Requests</h2>

        <div class = "requests-list-card">
            <p>Light Issues...</p>
            <p>Plug Point Issues...</p>
            <p>Fan Issues...</p>
            <p>Low Voltage Issues...</p>
            <p>Light Replacement...</p>
            <p>Fan Issues...</p>
            <p>Light Issues...</p>xxx
        </div>
    </div>

</body>
</html>